/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background-color: #101010;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 101vw;
    text-align: center;
    display: none;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 6vw;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    color: white;
    height: 25vw;
    padding-top: 2vh;
}
button {
    display: inline-block;
    float: right;
    width: 100vw;
    height: 13vw;
    font-size: 4vw;
    background-color: #8C9C2E;
    border: none;
    color: white;
    padding: 1vw;
    text-transform: uppercase;
}
button:active {
    background-color: #9EAF3A;
}
input {
    display: inline-block;
    float: right;
    width: 100vw;
    height: 13vw;
    font-size: 6vw;
    background-color: #181818;
    border: none;
    color: #FFFFFF;
    background-position: 4vw 4vw;
    background-repeat: no-repeat;
    background-size: 6vw;
    text-indent: 11vw;
    padding: 1vw;
    
}
.username {
    background-image: url("../img/user.png");
}
.password {
    border-top: 1px solid #606060;
    background-image: url("../img/lock.png");
}
input:focus {
    background-color: #252525;
}
#text {
    display: inline-block;
    width: 100vw;
    color: white;
    font-size: 12vw;
    margin-top: 20vh;
}
.video-container {
    z-index: 1000;
    background-color: red;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.app-video {
    width: 110vh;
    height: 110vw;
    position: fixed;
    bottom: 20vh;
    right: -47.5vw;
    z-index: 1;
    -webkit-transform:rotate(-90deg);
}
video::-webkit-media-controls {
    display:none !important;
}
.logo-lunch {
    z-index: 10;
    position: relative;
    margin-top: 25vh;
    width: 75vw;
}
.start-login {
    position: absolute;
    width: 51vw;
    background-color: #8C9C2E;
    bottom: 0;
    top: 0;
}
.start-help {
    position: absolute;
    width: 50vw;
    background-color: #202020;
    left: 50vw;
    bottom: 0;
    top: 0;
}
.start-footer {
    bottom: -1px;
    position: absolute;
    z-index: 10;
    text-transform: uppercase;
    height: 12vw;
}
.start-login:active  {
    background-color: #9EAF3A;
}
.start-help:active {
    background-color: #303030;
}
#start {
    z-index: 0;
}
#login {
    z-index: 100;
}
#main {
    background-image: url('../img/main-background.jpg');
    background-size: cover;
    z-index: 200;
}
.app-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.back-button {
    position: absolute;
    left: 0;
    top: 0;
    padding: 4vw;
}
.back-button img {
    height: 8vw;
}
.info-container {
    display: inline-block;
    width: 100vw;
    margin-top: 20vw;
    color: #FFFFFF;
    font-size: 4vw;
}
.info-box {
    display: none;
}
.info-box p {
    margin: 0;
    padding: 0;
}
.main-logo-lunch {
    z-index: 10;
    position: relative;
    margin-top: 16vw;
    width: 75vw;
}
.main-menu-bars {
    position: absolute;
    top: 0;
    left: 0;
    height: 8vw;
    margin-top: 6vw;
    margin-left: 6vw;
}
.main-menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 12vw;
    margin-top: 6vw;
    margin-right: 6vw;
}
.menu-slider {
    height: 60vw;
    margin-top: 20vw;
    color: white;
    text-transform: none;
}
.menu-item-container {
    height: 67vw;
    width: 100vw;
}
.image-wrapper {
    background-color: rgba(217,255,0,0.5);
    width: 40vw;
    left: 30vw;
    position: relative;
    height: 40vw;
    border-radius: 40vw;
}
.menu-item-container .image-wrapper img {
    position: absolute;
    margin: 5vw;
    width: 30vw;
}
.menu-item-container p {
    font-size: 6vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 0vw;
}